@import '@src/index.scss';

.profileSidebar {
  width: var(--size-13);

  /*position: fixed;
  top: 100px;
  right: 0;*/

  position: sticky;
  top: 50px;
  align-self: start;

  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bg-color-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-5);
  overscroll-behavior: none;
  @include flex(flex-start, center, column);
  @include flex-gap(bottom, var(--size-3));
  padding: var(--size-7);
  overflow: hidden;

  /*@include lg {
    display: none;
  }

  @include md {
    padding: var(--size-6);
  }

  @include sm {
    padding: var(--size-5);
  }*/

  @include lg {
    //width: 100%;
    align-self: center;
    order: -1;
    position: static;
    margin-bottom: var(--size-8);
    overflow: hidden;
  }

  i {
    color: var(--primary-color-2);
  }
}