@import '@src/index.scss';

.App {
  background-color: var(--bg-color-1);
  min-height: 100vh;

  /*display: grid;
  grid-template-columns: 1fr var(--size-13);
  grid-template-rows: min-content 1fr;
  grid-column-gap: var(--size-9);
  grid-row-gap: var(--size-3);*/

  .Subgrid {
    display: grid;
    grid-template-columns: var(--size-14) 700px;
    grid-template-rows: min-content 1fr;
    justify-self: left;
  
    @include xxl {
      grid-template-columns: var(--size-13) 700px;
    }

    @include xl {
      grid-template-columns: var(--size-11) 1fr;
    }
  
    @include lg {
      display: block;
      padding-inline: var(--size-9);
      padding-block: var(--size-3);
    }

    @include sm {
      padding-inline: var(--size-7);
    }

    @include ssm {
      padding-inline: var(--size-4);
    }
  }

  /*@include lg {
    display: block;
  }*/

  @include lg {
    @include flex(flex-start, stretch, column);
    grid-gap: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr var(--size-13);
  grid-gap: var(--size-9);

  @include lg {
    @include flex(flex-start, stretch, column);
    grid-gap: 0;
  }
}

.sortbar {
  margin-bottom: var(--size-4);
  //grid-column: 2 / 3;
  //grid-row: 1 / 2;
}

.commonFeed {
  //grid-column: 2 / 3;
  //grid-row: 2 / 3;
}