@import '@src/index.scss';

.profileComment {
  background-color: var(--bg-color-2);
  padding: var(--size-7);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  @include flex(space-between, flex-start);

  @include md {
    padding: var(--size-6);
  }

  @include sm {
    padding: var(--size-5);
  }

  h6 {
    margin-bottom: var(--size-2);
  }
}

.furtherBtn {
  @include btn;
  @include highlighBtn;
}