@import '../../index.scss';

.subBtn {
  background-color: var(--bg-color-2);
  transition: var(--fast-in);
  border-radius: var(--radius-round);
  padding: var(--size-2);
  font-weight: bold;
  color: var(--primary-color-1);

  &:hover {
    background-color: var(--accent-color);
    color: var(--gray-2);
  }
}