@import '@src/index.scss';

.SortBar {
  @include flex(flex-start, baseline);
  gap: var(--size-3);

  h6 span[data-mobile] {
    display: none;

    @include sm {
      display: inline-block;
      transition: var(--fast-in);
    }
  }

  h6 {
    @include sm {
      @include flex(flex-start, center);
      gap: var(--size-2);
      cursor: pointer;
    }

    &.active span {
      transform: rotate(180deg);
    }
  }
}

.panel {
  @include flex(flex-start, baseline);
  gap: var(--size-4);

  @include sm {
    flex-direction: column;
    align-items: stretch;
    gap: var(--size-1);
  
    overflow: hidden;
    max-height: 0;
    transition: var(--slow-in);
  }
}

.btn {
  border-radius: var(--radius-2);
  min-height: initial;
  color: var(--primary-color-2);
}