@import '@src/index.scss';

.rules {
  list-style: none;
  padding: 0;
}

.listItem {
  padding: 0;
  margin-bottom: var(--size-3);
}

.accordion {
  cursor: pointer;
}

.panel {
  //display: none;
  overflow: hidden;
  max-height: 0;
  transition: var(--fast-out);
}

.loaderWrapper {
  width: 100%;
  height: 100%;
  @include flex(center, center);
}