@import '@src/index.scss';

.container {
  background-color: var(--bg-color-2);
  @include flex(space-between, center);
  position: relative;
  padding: var(--size-2);
}

.input {
  outline: none;
  min-width: 0;
  padding: var(--size-2) var(--size-3);
  flex-grow: 1;

  background-color: var(--bg-color-1);
  color: var(--primary-color-1);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2);
  box-shadow: var(--shadow-1);

  &:hover,
  &:focus {
    outline: none;
  }
}

.btn {
  background-color: transparent;
  color: var(--primary-color-1);
  padding: 0;
  margin-inline: var(--size-2);
}

.list {
  position: absolute;
  top: 100%;
  right: 0%;

  background-color: var(--bg-color-1);
  color: var(--primary-color-1);
  padding: var(--size-6);
  list-style: none;
  border-radius: var(--radius-2);
  z-index: var(--layer-1);
  box-shadow: var(--shadow-3);
  max-width: 100%;

  li:not(:last-of-type) {
    margin-bottom: var(--size-1);
  }
}